color true
link-duplicates true
workspaces-experimental true
workspaces-nohoist-experimental true
flat true
save-prefix "^"
init-version "0.0.1"
init-license "MIT"
version-tag-prefix "v"
version-git-tag "true"
version-git-sign "false"
version-git-message "v%s"
ignore-engines true
--install.check-files true
--install.no-lockfile true
--install.audit true
