@media only screen {
  /*
  .markup-wrapper .markup:hover,
  .markup-wrapper .markup:hover::before,
  .markup-wrapper :hover .markup,
  .markup-wrapper :hover .markup::before,
  .markup-wrapper:hover {
    outline: 0.5px dotted var(--color, currentColor);
  }
  */

  .markup-line {
    --widget-shadow: #00096;
    --widget-underlay: #6664;
    --widget-overlay: #ccc8;
    --marked-line-number-color: var(--markup-contrast, inherit);
    --marked-line-number-background-color: var(--widge, #9999996f);
    cursor: text;
    /* text-shadow: 0 0 0.5px #9999; */
  }

  .dark-mode .markup-line {
    --widget-shadow: #fff6;
    --widget-underlay: #ccc4;
    --widget-overlay: #ccc4;
  }

  .markup-line > .markup {
    --debug: var(--color, var(--markup-neutral, #999));
    --ring: var(--debug, var(--markup-neutral, #999));
    --bezel: var(--markup-contrast, white);
    border-radius: 1ch;
    margin: -2px;
    border: 2px solid transparent;
    position: relative;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    /* box-sizing: border-box; */
  }

  .marked > .markup-line > .markup.marked,
  :not(.marked) > .markup-line > .markup:hover {
    background-color: var(--bezel, white);
    box-shadow: 0 0 0 2px var(--bezel, white), 0 3px 10px -2px #0006;
    z-index: 2;
  }

  .marked > .markup-line > [data-hint].markup.marked::after,
  .markup-wrapper:not(.marked) > .markup-line > [data-hint].markup:hover::after {
    content: attr(data-hint);
    display: block;
    position: absolute;

    left: 50%;
    will-change: transform;
    transform: translateX(-50%);
    width: max-content;
    min-width: min-content;
    max-width: -webkit-fill-available;
    max-width: fill-available;
    bottom: calc(100% + 0.5ch + -2 * var(--padding, 2px));
  }

  .markup-line > .markup.comment,
  .markup-line > .markup.in-comment,
  .markup-line > .markup.whitespace {
    --ring: var(--markup-whitespaces, var(--markup-neutral, #999));
  }

  .markup-line > .markup.fault {
    --bezel: var(--markup-faults-background, #f21);
    --debug: var(--markup-faults-background, #f21);
  }

  .markup-line > [data-hint].markup::after {
    display: none;

    --padding: 1.75px;
    --underlay-color: var(--widget-underlay, #0006);
    --overlay-color-1: var(--widget-overlay, #fff3);
    --overlay-color-2: var(--ring, currentColor);

    line-height: initial;
    font: initial;
    font-style: initial;
    font-family: inherit;

    pointer-events: none;
    font-weight: 400;
    font-size: 75%;
    white-space: pre;
    background: radial-gradient(var(--overlay-color-1) 0%, var(--overlay-color-2) 100%) center / 500%,
      radial-gradient(var(--overlay-color-2) 0%, var(--overlay-color-1) 100%) center / 500%, var(--underlay-color);
    background-blend-mode: screen;
    color: var(--markup-shadow, white);
    text-shadow: 0 1px 1px var(--markup-color, black);
    text-align: center;
    text-indent: 0;
    box-shadow: inset 0 -1px 3px #0001, inset 0 0 25px var(--widget-underlay, #0006),
      0 0 5px -2.5px var(--widget-shadow, #0009);
    border-radius: 1ch;
    /* border: none; */
    border-bottom: 1ch solid var(--ring, currentColor);
    padding: calc(3 * var(--padding, 2px)) calc(6 * var(--padding, 2px));
    /* will-change: transform transition; */
    z-index: 1;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
  }

  .markup-line:hover::before {
    --markup-line-number-background-color: var(--widge, #9999991f);
  }

  .markup-line.marked {
    --markup-line-background-color: #99999910;
    --markup-line-outline: 1px solid #9999993f;
    --markup-line-outline-offset: -1px;
  }

  .markup-wrapper:not(.marked) > .markup-line:hover {
    --markup-line-background-color: #9999991f;
  }

  .markup-line.marked::before {
    opacity: 0.825;
    --markup-line-number-color: var(--marked-line-number-color);
    --markup-line-number-background-color: var(--marked-line-number-background-color);
  }

  .markup-line.marked:hover {
    --markup-line-background-color: #9999991f;
  }

  .markup-line.marked:hover::before {
    opacity: 1;
  }

  .markup-line > .markup.break:last-child {
    display: inline-block;
    line-height: 100%;
    /* outline: 1px solid greenyellow; */
    /* margin: 0; */
    /* padding: 0; */
    -webkit-margin-end: -100%;
    margin-inline-end: -100%;
    pointer-events: none;
    width: 0;
    height: 0;
    overflow: visible;
  }

  /* .markup-line > .markup.break:last-child::before, */
  .markup-line.marked > .markup.break:last-child::before,
  .markup-line:hover > .markup.break:last-child::before {
    display: inline-block;
    position: relative;
    content: '\23CE';
    color: var(--widget-shadow, currentColor);
    left: calc(1em + var(--markup-inset-margin, 0.0001em));
    font-family: monospace;
    /* pointer-events: all; */
    text-indent: var(--markup-text-indent, 0);
  }

  .markup.fault::before {
    float: right;
    width: 1.5em;
    height: 1.5em;
    overflow: hidden;
    /* contain: strict; */
    margin: 0 2px 0 0;
    padding: 0;
    order: -1;
    content: '!';
    opacity: 0.9;
    color: var(--markup-faults, white);
    background-color: var(--markup-faults-background, #f12);
    border: 2px solid white /* var(--markup-contrast, #000) */;
    border-radius: 50%;
    text-shadow: 0 1px 3px #000c;
    box-shadow: 0 1px 3px -1px var(--markup-color, #000), inset 0 0 2px #0009;

    font-weight: 800;
    font-style: normal;
    font-size: 75%;
    line-height: 150%;
    vertical-align: initial;
    text-align: center;
    text-indent: 0;
    /* visibility: visible; */
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    /* position: relative; */
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-color-index: 0) {
  .markup-line {
    --widget-shadow: #0009;
    --widget-underlay: #6663;
    --widget-overlay: #ccc6;
  }

  .dark-mode .markup-line {
    --widget-shadow: #fff9;
    --widget-underlay: #ccc6;
    --widget-overlay: #ccc6;
  }
}

/* .markup-wrapper .marker {
  display: none;
} */
