@import './markdown.css';
@import './markup.css';
@import './styles.css';

pre.markup.code[markup-syntax='log'] {
	-webkit-tab-size: 12 !important;
	-moz-tab-size: 12 !important;
	tab-size: 12 !important;
}

pre.markup > .markup-line {
	/* display: inline-block; */
	min-width: max-content;
}
