@import './root.css';
@import './overrides.css';

/**/ /**/ /* VARIABLES */ /**/ /**/

:host {
	--cell-padding: var(--markout--cell-padding);
	--microline: var(--markout--microline);
	--hairline: var(--markout--hairline);
	--thinline: var(--markout--thinline);
	--thickline: var(--markout--thickline);

	--markup-tab-size: var(--markout--code-tab-size);
	--markup-line-height: var(--markout--code-line-height, 1.75);

	--markout-rule-width: 4px;

	--body-spacing-size: 1;
	--body-offset-size: 2;
	--list-indent-size: 2;

	--band-line: var(--markout--band-line);
	--band-stroke: var(--markout--band-stroke);
	--band-fade: var(--markout--band-fade);
	--band-fade\-: var(--markout--band-fade\-);
	--band-fade\-\-: var(--markout--band-fade\-\-);
	--band-text: var(--markout--band-text);
	--band-text\-: var(--markout--band-text\-);
	--band-text\-\-: var(--markout--band-text\-\-);
	--band-fill: var(--markout--band-fill);
	--band-fill\-: var(--markout--band-fill\-);
	--band-fill\-\-: var(--markout--band-fill\-\-);

	--field-fill: var(--markout--field-fill);
	--field-text: var(--markout--field-text);
	--field-line: var(--markout--field-line);
	--field-line\-: var(--markout--field-line\-);
	--field-stroke: var(--markout--field-stroke);

	--switch-background-default: var(--markout--section-background, #ffffffee);
	--switch-color-default: var(--markout--section-text, #000);
	--switch-background-active: var(--shade, #39f);
	--switch-color-active: var(--shade-contrast, #fff);
	--switch-marker-default: ' ';
	--switch-marker-checked: '\2713';
	--switch-marker-indeterminate: '\FF0D';

	--φ: 0.6180339887498948482;
	--ß: 0.85;

	--fence--border--: var(--microline) solid var(--band-line);
	--fence--background--: var(--band-fill\-\-);
	/* --fence--color--: var(--band-text); */
	--fence--color--: inherit;
	--code--background--: var(--band-fill\-);
	/* --code--color--: var(--band-text); */
	--code--color--: inherit;
	--blockquote--background--: var(--band-fill\-\-);
	--blockquote--color--: var(--band-text\-);
	--blockquote--stroke--: var(--band-line);
	--blockquote--opacity--: 0.9;
	--blockquote--inset--: 1em;

	--section--background--: var(--markout--section-background, #ffffffee);
	--section--color--: var(--markout--section-text, #000);
	--section--padding--: calc(1em * var(--body-spacing-size, 1));
}

:host {
	box-sizing: border-box;
	line-height: calc(100% * var(--markup-line-height));
	overflow: auto;
	-webkit-text-size-adjust: 100%;
	/* color: var(--markout-section-text); */
}

:host * {
	line-height: calc(100% * var(--markup-line-height));
	orphans: 2;
	widows: 3;
	-webkit-overflow-scrolling: touch;
	--block-margin: calc(1em * var(--body-spacing-size, 1));
}

/**/ /**/ /* PAGINATION */ /**/ /**/

p,
hgroup,
summary,
blockquote,
dd,
caption {
	/* --block-margin: calc(1em * var(--body-spacing-size, 1)); */
	--inline-margin: 0;
	-webkit-margin-before: var(--block-margin);
	margin-block-start: var(--block-margin);
	-webkit-margin-after: var(--block-margin);
	margin-block-end: var(--block-margin);
	-webkit-margin-start: var(--inline-margin);
	margin-inline-start: var(--inline-margin);
	-webkit-margin-end: var(--inline-margin);
	margin-inline-end: var(--inline-margin);
	widows: 2;
	orphans: 2;
}

h1,
h2,
h3,
h4,
h5,
h6,
summary,
blockquote,
dd,
caption,
section,
/* details, */
pre,
dt,
figure,
tr,
tr > :not(table),
li,
li > :not(ol):not(ul) {
	break-inside: avoid;
	/* page-break-inside: avoid; */
}

/** SEE: https://css-tricks.com/style-list-markers-css/ **/

li[type='checkbox'] {
	list-style-type: none;
}

li[type='checkbox']::before {
	--switch-marker: var(--switch-marker-default);

	/* --switch-background-default: var(--band, initial); */
	/* --switch-color-default: var(--band, initial); */
	/* --switch-background-active: var(--shade, ActiveBorder); */
	/* --switch-color-active: var(--shade-contrast, ActiveCaption); */

	--switch-background: var(--switch-background-default);
	--switch-color: var(--switch-color-default);
}

li[type='checkbox'][checked]::before {
	--switch-marker: var(--switch-marker-checked);
	--switch-background: var(--switch-background-active);
	--switch-color: var(--switch-color-active);
}

li[type='checkbox'][indeterminate]::before {
	--switch-marker: var(--switch-marker-indeterminate);
	--switch-background: var(--switch-background-active);
	--switch-color: var(--switch-color-active);
}

li[type='checkbox']::before {
	/* all: initial; */

	content: var(--switch-marker);
	background-color: var(--switch-background);
	color: var(--switch-color);
	font-family: system-ui, var(--markout--body-font-family);
	/* font-family: var(--markout--system-ui); */

	overflow: hidden;
	padding: 0;
	margin: 0;
	-webkit-margin-end: -1.125em;
	margin-inline-end: -1.125em;
	/* position: absolute; */
	display: inline-grid;
	place-items: center;
	/* text-indent: -1.75em; */
	float: left;
	width: 1.125em;
	height: 1.125em;
	border-radius: 0.25em;
	box-sizing: content-box;
	border: 0 solid transparent;
	background-clip: content-box;
	line-height: 112.5%;
	/* line-height: 1.125em; */
	vertical-align: text-top;
	text-align: center;
	text-indent: 0;
	font-weight: 800;
	font-size: 75%;
	font-style: initial;
	transform: translateX(-1.75em) translateY(50%);
	white-space: pre;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	vertical-align: middle;
}

h1 + :not(:empty),
h2 + :not(:empty),
h3 + :not(:empty),
h4 + :not(:empty),
h5 + :not(:empty),
h6 + :not(:empty),
li > :not(ol):not(ul),
caption + table,
table + caption,
figcaption + * {
	break-before: avoid;
	/* clear: right; */
	/* page-break-before: avoid; */
}

/* dt figure */
pre,
details,
table {
	--block-margin: calc(1em * var(--body-offset-size, 2));
	-webkit-margin-before: var(--block-margin);
	margin-block-start: var(--block-margin);
	-webkit-margin-after: var(--block-margin);
	margin-block-end: var(--block-margin);
}

details > :not(summary):last-child {
	-webkit-margin-after: var(--block-margin);
	margin-block-end: var(--block-margin);
}

details > summary + :first-child,
details > :not(summary):first-child {
	-webkit-margin-before: var(--block-margin);
	margin-block-start: var(--block-margin);
}

figcaption {
	margin: 0.25em;
}

figcaption + * {
	-webkit-margin-before: 0;
	margin-block-start: 0;
}

img:first-child:last-child {
	max-width: 100%;
}

li > ol,
li > ul {
	-webkit-margin-before: var(--block-margin);
	margin-block-start: var(--block-margin);
	-webkit-margin-after: var(--block-margin);
	margin-block-end: var(--block-margin);
}

/* li > ol:last-child:first-child, */
/* li > li:last-child:first-child, */
li > ul + ol,
li > ol + ol,
li > ul + ul,
li > ol + ul,
li > :first-child {
	-webkit-margin-before: 0;
	margin-block-start: 0;
}

/* li > ol:last-child:first-child, */
/* li > li:last-child:first-child, */
/* li > :not(ol):not(ul):last-child */
li > :not(ol):not(ul):last-child:first-child,
li > ol:not(:last-child),
li > ul:not(:last-child) {
	-webkit-margin-after: 0;
	margin-block-end: 0;
}

li > div:first-child,
li > figure:first-child,
li > pre:first-child {
	/* margin: 0; */
	-webit-margin-start: 0;
	margin-inline-start: 0;
	-webkit-margin-end: 0;
	margin-end-start: 0;
	-webkit-margin-before: 0;
	margin-block-start: 0;
}

ol,
ul {
	--inline-margin: 0;
	--inline-inset: calc(1em * var(--list-indent-size, 2));
	-webkit-padding-start: var(--inline-inset);
	padding-inline-start: var(--inline-inset);
	-webkit-margin-start: var(--inline-margin);
	margin-inline-start: var(--inline-margin);
	-webkit-margin-end: var(--inline-margin);
	margin-inline-end: var(--inline-margin);
}

summary > :first-child:last-child {
	display: inline-block;
	/* vertical-align: middle; */
	/* transform: translateY(0.125em); */
	margin: 0;
}

*:not(a):not(li) > *:first-child:last-child,
a:first-child:last-child > :first-child:last-child,
hgroup:empty,
hgroup h1,
hgroup h2,
hgroup h3,
hgroup h4,
hgroup h5,
hgroup h6 {
	-webkit-margin-before: 0;
	margin-block-start: 0;
	-webkit-margin-after: 0;
	margin-block-end: 0;
	/* --block-margin: 0; */
}

*:not(a) > *:first-child:last-child {
	-webkit-margin-before: 0;
	margin-block-start: 0;
}

/**/ /**/ /* PRIMITIVES */ /**/ /**/

h1,
h2 {
	border-style: solid;
	border-color: var(--band-line, black);
	border-width: 0;
}

iframe,
figure,
pre,
aside,
kbd {
	border-radius: calc(var(--thinline, 1px) * 2);
}

code,
samp,
tt,
output {
	border-radius: calc(var(--thinline, 1px) * 1.25);
}

iframe,
figure,
aside,
pre {
	--block-margin: calc(1em * var(--body-spacing-size, 1));
	margin: 0;
	-webkit-margin-before: var(--block-margin);
	margin-block-start: var(--block-margin);
	-webkit-margin-after: var(--block-margin);
	margin-block-end: var(--block-margin);
	border: var(--fence--border--);
	shape-rendering: geometricPrecision;
}

figure,
aside,
pre {
	padding: 1.25rem;
}

blockquote,
aside {
	background-color: var(--blockquote--background--);
}

/* figure, */
/* aside, */
table {
	--block-margin: calc(1em * var(--body-spacing-size, 1));
	position: relative;
	margin: var(--block-margin);
	padding: 1em 2em;
	-webkit-padding-start: 2em;
	padding-inline-start: 2em;
	overflow: hidden;
}

blockquote {
	--inline-start-border-width: 0.25em;

	border: 0 var(--blockquote--stroke--) solid;
	-webkit-border-start-width: var(--inline-start-border-width);
	border-inline-start-width: var(--inline-start-border-width);
	-webkit-padding-start: var(--blockquote--inset--, 1em);
	padding-inline-start: var(--blockquote--inset--, 1em);
	-webkit-padding-end: var(--blockquote--inset--, 1em);
	padding-inline-end: var(--blockquote--inset--, 1em);

	color: var(--blockquote--color--);
}

blockquote > p {
	/* padding: 0.5em; */
}

blockquote > q {
	text-indent: 2em;
	quotes: '“' '”';
	font-style: italic;
}

blockquote > q + cite {
	font-style: normal;
}

@media only screen {
	blockquote > q + cite,
	blockquote {
		opacity: var(--blockquote--opacity--, 0.9);
	}
}

hr {
	--block-margin: calc(1em * var(--body-offset-size, 2));
	--block-start-border-width: var(--markout-rule-width);
	border: 0 solid var(--band-line);
	-webkit-border-before-width: var(--block-start-border-width);
	border-block-start-width: var(--block-start-border-width);
	-webkit-margin-before: var(--block-margin);
	margin-block-start: var(--block-margin);
	-webkit-margin-after: var(--block-margin);
	margin-block-end: var(--block-margin);
}

table,
thead,
tbody,
tfoot,
th,
tr,
td {
	--cell-border: 0;
	--cell-border-block: initial;
	--cell-border-inline: initial;
	--cell-border-before: initial;
	--cell-border-after: initial;
	border-width: var(--cell-border);
	border-color: var(--band-stroke);
	border-style: solid;
}

thead,
tbody,
tfoot,
thead > tr,
tfoot > tr {
	--cell-border-inline: var(--hairline);
	-webkit-border-start-width: var(--cell-border-inline);
	border-inline-start-width: var(--cell-border-inline);
	-webkit-border-inline-end-width: var(--cell-border-inline);
	border-inline-end-width: var(--cell-border-inline);
}

th + th,
tfoot > td + td {
	--cell-border-before: var(--microline);
	-webkit-border-start-width: var(--cell-border-before);
	border-inline-start-width: var(--cell-border-before);
}

thead > tr + tr {
	--cell-border-before: var(--microline);
	-webkit-border-before-width: var(--cell-border-before);
	border-block-start-width: var(--cell-border-before);
}

thead:first-of-type {
	--cell-border-before: var(--hairline);
	-webkit-border-before-width: var(--cell-border-before);
	border-block-start-width: var(--cell-border-before);
}

thead:last-of-type,
thead ~ tbody,
tfoot ~ tbody,
tbody > tr:first-child > th:first-child:last-child,
tfoot:last-of-type {
	--cell-border-after: var(--hairline);
	-webkit-border-after-width: var(--cell-border-after);
	border-block-end-width: var(--cell-border-after);
}

thead + thead > tr:first-child,
thead + thead > tr:last-child,
tfoot + tfoot > tr:first-child,
tfoot + tfoot > tr:last-child,
tbody + tbody > tr:first-child {
	--cell-border-before: var(--hairline);
	-webkit-border-before-width: var(cell-border-before);
	border-block-start-width: var(cell-border-before);
}

td,
th {
	padding: calc(0.25 * var(--cell-padding, 1em)) calc(0.75 * var(--cell-padding, 1em));
}

table {
	vertical-align: baseline;
}

thead {
	vertical-align: middle;
}

tbody,
tfoot,
tr,
/* th, */
td {
	vertical-align: inherit;
	text-align: inherit;
}

table table {
	font-size: 90%;
}

td > :first-child:last-child,
th > :first-child:last-child {
	margin: 0;
}

tbody > tr:nth-child(2n),
thead > tr:nth-child(2n + 1),
tfoot {
	background-color: var(--band-fill\-\-);
}

thead,
tfoot {
	background: linear-gradient(0deg, var(--band-fill) 0%, var(--band-fill) 0%) var(--field-fill);
	background-blend-mode: overlay;
}

table {
	border-collapse: collapse;
	border-width: var(--hairline);
	background-color: var(--band-fade\-);
}

tr > td[hidden],
tr > td:empty,
tr > th[hidden],
tr > th:empty {
	display: table-cell;
	visibility: hidden;
}

dt {
	font-weight: 600;
	font-style: italic;
}

iframe {
	border: var(--fence--border--);
	background-color: var(--fence--background--);
	/* box-sizing: border-box; */
}

pre {
	color: inherit;
}

pre,
code,
kbd,
samp {
	color: var(--code--color--);
}

a kbd,
a code,
a pre,
a samp {
	color: var(--band-text);
}

pre,
code,
samp,
kbd,
tt {
	/* text-rendering: optimizeLegibility; */
	box-decoration-break: clone;
	-webkit-box-decoration-break: clone;
	line-break: strict;
	box-sizing: border-box;
}

code,
kbd {
	margin: 0;
	white-space: pre;
}

code {
	background-color: var(--code--background--);
	white-space: pre-wrap;
	padding: 0.2em 0.5ex;
}

pre {
	background-color: var(--fence--background--);
	/* padding: 1.25em; */
	line-height: calc(100% * var(--markup-line-height));
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	white-space: pre;
	text-align: start;
}

kbd,
[tag] {
	padding: 0.125ex 1ex;
	display: inline-block;
	line-height: calc(100% * var(--markup-line-height));
	/* line-height-step: initial; */
	font-size: calc(100% * var(--φ));
	contain: contents;
	vertical-align: middle;
	margin-top: -0.5ex;
}

kbd {
	padding-bottom: 0.5ex;
	/* background-color: #fff6; */
	/* border: 0.5px solid #6663; */
	/* border-bottom-color: #666c; */
	/* box-shadow: inset 0 -0.25ch 0 #6666; */
	background-color: var(--field-fill);
	box-shadow: inset 0 -0.25ch 0 var(--field-line);
	border: var(--markout--microline) solid var(--field-line\-);
	border-bottom-color: var(--field-stroke);
}

small {
	font-size: calc(100% * var(--ß));
}

big {
	font-size: calc(100% / var(--ß));
}

kbd > * {
	line-height: 125%;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 90%;
}

pre * {
	/* padding: 0; */
	/* margin: 0; */
	/* display: inline; */
	/* border: none; */
	/* font-size: inherit; */
	/* line-height: inherit; */
}

pre code,
pre samp {
	background-color: transparent;
}

tt.opener:first-child,
tt.closer:last-child,
tt.normalized-break {
	display: none;
}

@media only screen and (min-width: 600px) {
	:host-context(.column-layout) pre {
		max-height: -webkit-fill-available;
		max-height: -moz-available;
		max-height: fill-available;
		overflow-y: auto;
	}
}
