@import './root.css';
@import './markdown.css';
@import './markup.css';
@import './styles.css';

:host {
	color-scheme: light dark;
}

span[token-type],
tt[token-type] {
	display: contents;
}

pre.markup.code[markup-syntax='log'] {
	-webkit-tab-size: 12 !important;
	-moz-tab-size: 12 !important;
	tab-size: 12 !important;
}

pre.markup > .markup-line {
	/* display: inline-block; */
	min-width: max-content;
}

/* pre[data-markout-fence]::before, */
pre[data-markout-open-tag]::before {
	content: attr(data-markout-open-tag);
	content: attr(data-markout-fence) attr(data-markout-header);
	margin-block-start: -0.75em;
	margin-block-end: 0.25em;
}

/* pre[data-markout-fence]::after, */
pre[data-markout-close-tag]::after {
	content: attr(data-markout-close-tag);
	content: attr(data-markout-fence);
	margin-block-start: 0.25em;
	margin-block-end: -0.75em;
	justify-self: flex-end;
}

pre[data-markout-open-tag]:active::before {
	content: attr(data-markout-open-tag);
}

pre[data-markout-close-tag][data-markout-fence]:active::after {
	content: attr(data-markout-close-tag);
}

pre[data-markout-open-tag],
pre[data-markout-close-tag] {
	--markup-gutter: 1.25em;
}

/* pre[data-markout-fence]::before, */
/* pre[data-markout-fence]::after, */
pre[data-markout-open-tag]::before,
pre[data-markout-close-tag]::after {
	white-space: nowrap;
	display: block;
	margin-inline-start: -0.75em;
	margin-inline-end: -0.75em;
	padding: 0 0.5em;
	font-weight: 300;
	font-size: 90%;
	line-height: 125%;
	/* color: #fffc; */
	background-color: #9991;
	box-sizing: border-box;
	border: 0.5px solid #9993;
	border-radius: 0.33em;
	color: #999c;
	mix-blend-mode: difference;
}

pre[data-markout-fence]:not(:hover)::before,
pre[data-markout-fence]:not(:hover)::after,
pre[data-markout-open-tag]:not(:hover)::before,
pre[data-markout-close-tag]:not(:hover)::after {
	opacity: 0.25;
	background-color: transparent;
	/* filter: blur(3px); */
}

/* iframe {
	border: none;
	background: transparent;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 1em;
} */

:host {
	font-family: var(--markout--body-font-family);
}

@media screen {
	li[type='checkbox']::before {
		box-shadow: inset 0 1px 1px #0000001e, inset 0 1px 0.5ex #00000016, inset 0 0 1px #0006, 0 1px 0 #fffc;
	}
}

@media screen and (prefers-color-scheme: dark) {
	li[type='checkbox']::before {
		box-shadow: none;
		box-shadow: 0 0 0 1px var(--shade, #999);
		background-color: transparent;
		color: var(--shade, #999);
		border-color: var(--shade, #999);
		/* background-color: #9990; */
		/* box-shadow: inset 0 1px 1px #0000001e, inset 0 1px 0.5ex #00000016, inset 0 0 1px #0006, 0 1px 0 #fffc; */
	}
}
