[markout-class='primer'] * {
	--inline-margin: 1rem;
}

[markout-class='primer'] {
	--body-spacing-size: 2;
	--body-offset-size: 3;
	--block--offset--: 2rem;
	--block--inset--: 0.5rem;
	--body--offset--: 1rem;
}

@media only screen and (min-width: 600px) {
	[markout-class='primer'] {
		--block--inset--: 1rem;
	}
}

[markout-class='primer'] {
	margin-block-start: var(--block--offset--);
	margin-block-end: var(--block--offset--);
}

[markout-class='primer'] section,
[markout-class='primer'] article {
	padding-inline-start: var(--block--inset--);
	padding-inline-end: var(--block--inset--);
	margin-block-start: var(--block--offset--);
	margin-block-end: var(--block--offset--);
	border-radius: calc(var(--thinline, 1px) * 2);
}

[markout-class='primer'] h1[data-heading-number]::before,
[markout-class='primer'] h2[data-heading-number]::before,
[markout-class='primer'] h3[data-heading-number]::before,
[markout-class='primer'] h4[data-heading-number]::before,
[markout-class='primer'] h5[data-heading-number]::before,
[markout-class='primer'] h6[data-heading-number]::before {
	font-weight: 400;
	content: 'Part ' attr(data-heading-number) ' - ';
}

[markout-class='primer'] h1,
[markout-class='primer'] h2,
[markout-class='primer'] h3,
[markout-class='primer'] h4,
[markout-class='primer'] h5,
[markout-class='primer'] h6,
[markout-class='primer'] hgroup,
[markout-class='primer'] blockquote,
[markout-class='primer'] hr {
	margin-block-start: var(--block--offset--);
	margin-block-end: var(--block--offset--);
}

[markout-class='primer'] article > p,
[markout-class='primer'] section > p,
[markout-class='primer'] > p {
	margin-block-start: var(--body--offset--);
	margin-block-end: var(--body--offset--);
}

[markout-class='primer'] > :last-child:not(:first-child),
[markout-class='primer'] :not(pre):not(section):not(article) > :last-child:not(:first-child),
[markout-class='primer'] iframe:not(:last-child),
[markout-class='primer'] pre:not(:last-child) {
	margin-block-end: 0;
}

[markout-class='primer'] pre + p {
	margin-block-start: calc(var(--body--offset--) * 2);
}

[markout-class='primer'] iframe + blockquote,
[markout-class='primer'] pre + blockquote {
	margin-block-start: 0.5em;
	margin-block-end: calc(var(--body--offset--) * 2);
	font-size: calc(100% * var(--ß));
	break-before: avoid;
}

[markout-class='primer'] hgroup > h1,
[markout-class='primer'] hgroup > h2,
[markout-class='primer'] hgroup > h3,
[markout-class='primer'] hgroup > h4,
[markout-class='primer'] hgroup > h5,
[markout-class='primer'] hgroup > h6 {
	margin: 0;
}

[markout-class='primer'] details[open] {
	padding-block-end: 1em;
}

[markout-class='primer'] hr {
	border-width: 1px;
}

@media only screen {
	[markout-class='primer'] aside,
	[markout-class='primer'] section,
	[markout-class='primer'] article {
		border: var(--fence--border--, 1px solid #9999);
	}
}

[markout-class='primer'] iframe,
[markout-class='primer'] figure,
[markout-class='primer'] pre {
	max-width: -webkit-fill-available;
	max-width: -moz-available;
	max-width: fill-available;
}

[markout-class='primer'] iframe {
	width: 100%;
}

[markout-class='primer'] :not(hgroup) > h1,
[markout-class='primer'] > h1,
[markout-class='primer'] :not(hgroup) > h2,
[markout-class='primer'] > h2,
[markout-class='primer'] hgroup {
	text-align: center;
}

[markout-class='primer'] pre[data-markout-open-tag]::before {
	content: attr(data-markout-open-tag);
	content: attr(data-markout-fence) attr(data-markout-header);
	margin-block-start: -0.75em;
	margin-block-end: 0.25em;
}

[markout-class='primer'] pre[data-markout-close-tag]::after {
	content: attr(data-markout-close-tag);
	content: attr(data-markout-fence);
	margin-block-start: 0.25em;
	margin-block-end: -0.75em;
	justify-self: flex-end;
}

[markout-class='primer'] pre[line-numbers] .markup-line {
	border-inline-start-color: #9993;
	border-inline-start-width: 0.5pt;
}

[markout-class='primer'] pre[data-markout-open-tag]::before,
[markout-class='primer'] pre[data-markout-close-tag]::after {
	font-family: inherit !important;
	white-space: nowrap;
	display: block;
	padding: 0 0.5em;
	font-weight: 300;
	font-size: 90%;
	line-height: 125%;
	box-sizing: border-box;
	border: 0.5pt solid #9993;
	border-radius: 0.33em;
	color: #9999;
	text-indent: 0;
	position: relative;
	left: calc(var(--markup-gutter, 0) / 2 + 1px - 1em);
}

@media print {
	/* prettier-ignore */
	[media~=screen]:not([media~=print]) { display: none; }
	/* prettier-ignore */
	[media~=print][hidden]:not([media~=screen]) { display: initial; }

	[markout-class='primer'] {
		--body-spacing-size: 2;
		--body-offset-size: 2;
		--block--offset--: 1.5rem;
		--body--offset--: 0.75rem;
	}

	/* :first-child, */
	/* :last-child, */
	[markout-class='primer'] section > :first-child:not(:last-child),
	[markout-class='primer'] article > :first-child:not(:last-child),
	[markout-class='primer'] section > :last-child:not(:first-child),
	[markout-class='primer'] article > :last-child:not(:first-child),
	p + pre,
	p + figure,
	pre + p,
	figure + p,
	* + br,
	* + hr {
		break-inside: avoid;
	}

	[markout-class='primer'] section,
	[markout-class='primer'] article {
		break-after: auto;
	}

	[markout-class='primer'] pre[line-numbers] {
		break-inside: initial;
	}

	[markout-class='primer'] pre[line-numbers] .markup-line {
		--markup-line-number-color: #9999;
		border-inline-start-color: #9993;
		break-inside: avoid;
		break-after: avoid;
	}

	[markout-class='primer'] pre[line-numbers] .markup-line:not(:first-child):not(:last-child) {
		break-before: auto;
		break-after: auto;
	}

	[markout-class='primer'] pre[data-markout-open-tag]::before,
	[markout-class='primer'] pre[data-markout-open-tag]::after {
		border-width: 0;
		border-radius: 0;
	}

	[markout-class='primer'] pre[data-markout-open-tag]::before {
		border-bottom-width: 1pt;
		padding-block-end: 0.25em;
		margin-block-end: 1em;
	}

	[markout-class='primer'] pre[data-markout-open-tag]::after {
		border-top-width: 1pt;
		padding-block-start: 0.25em;
		margin-block-start: 1em;
	}

	[markout-class='primer'] figure,
	[markout-class='primer'] code,
	[markout-class='primer'] pre {
		overflow-x: hidden !important;
		white-space: pre-wrap !important;
		color-adjust: exact;
	}

	[markout-class='primer'] * {
		overflow-y: unset !important;
		max-width: unset !important;
		max-height: unset !important;
		min-width: unset !important;
		min-height: unset !important;
		-webkit-mask-image: unset !important;
	}
}

@media screen {
	/* prettier-ignore */
	[media~=print]:not([media~=screen]) { display: none; }

	[markout-class='primer'] iframe:not(:hover) + blockquote:not(:hover),
	[markout-class='primer'] pre:not(:hover) + blockquote:not(:hover) {
		opacity: 0.5;
	}

	[markout-class='primer'] pre[line-numbers] .markup-line::before {
		font-weight: 100;
	}

	[markout-class='primer'] pre[line-numbers] .markup-line {
		--markup-line-number-color: #9999;
		border-inline-start-color: #9991;
	}

	[markout-class='primer'] pre[data-markout-open-tag]::before,
	[markout-class='primer'] pre[data-markout-close-tag]::after {
		color: #999c;
		background-color: #9991;
		mix-blend-mode: difference;
	}

	[markout-class='primer'] pre[data-markout-open-tag]:active::before {
		content: attr(data-markout-open-tag);
	}

	[markout-class='primer'] pre[data-markout-close-tag][data-markout-fence]:active::after {
		content: attr(data-markout-close-tag);
	}

	[markout-class='primer'] pre[data-markout-fence]:not(:hover)::before,
	[markout-class='primer'] pre[data-markout-fence]:not(:hover)::after,
	[markout-class='primer'] pre[data-markout-open-tag]:not(:hover)::before,
	[markout-class='primer'] pre[data-markout-close-tag]:not(:hover)::after {
		opacity: 0.25;
		background-color: transparent;
	}
}
