@media print {
	markout-playground.primer pre {
		overflow-x: hidden !important;
		white-space: pre-wrap !important;
	}
	markout-playground.primer * {
		overflow-y: unset !important;
		max-width: unset !important;
		max-height: unset !important;
		min-width: unset !important;
		min-height: unset !important;
		-webkit-mask-image: unset !important;
		/* filter: unset !important; */
	}
}

markout-playground.primer {
	--body-spacing-size: 2;
	--body-offset-size: 3;
	--block-margin: calc(1rem * var(--body-offset-size));

	--block--offset--: 2rem;
	--block--inset--: 0.5rem;
	--body--offset--: 1rem;
	--body--inset--: 0.5rem;
	--figure--inset--: 0.5rem;
	padding-inline-start: 0;
	padding-inline-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
	margin-block-start: var(--block--offset--);
	margin-block-end: var(--block--offset--);
}

@media only screen and (min-width: 600px) {
	markout-playground.primer {
		--block--inset--: 1rem;
		--body--inset--: 1.5rem;
		--figure--inset--: 1rem;
		padding-inline-start: var(--block--inset--);
		padding-inline-end: var(--block--inset--);
	}
}

markout-playground.primer section,
markout-playground.primer article {
	padding-inline-start: var(--block--inset--);
	padding-inline-end: var(--block--inset--);
	margin-block-start: var(--block--offset--);
	margin-block-end: var(--block--offset--);
	border-radius: calc(var(--thinline, 1px) * 2);
}

markout-playground.primer h1[data-heading-number]::before,
markout-playground.primer h2[data-heading-number]::before,
markout-playground.primer h3[data-heading-number]::before,
markout-playground.primer h4[data-heading-number]::before,
markout-playground.primer h5[data-heading-number]::before,
markout-playground.primer h6[data-heading-number]::before {
	/* display: block; */
	/* margin-block-end: 0; */
	font-weight: 400;
	/* font-size: 75%; */
	/* line-height: 100%; */
	content: 'Part ' attr(data-heading-number) ' - ';
}

markout-playground.primer h1,
markout-playground.primer h2,
markout-playground.primer h3,
markout-playground.primer h4,
markout-playground.primer h5,
markout-playground.primer h6,
markout-playground.primer hgroup,
markout-playground.primer blockquote,
markout-playground.primer hr {
	margin: 0;
	padding: 0;
	margin-block-start: var(--block--offset--);
	margin-block-end: var(--block--offset--);
	padding-inline-start: var(--block--inset--);
	padding-inline-end: var(--block--inset--);
}

markout-playground.primer p {
	margin: 0;
	padding: 0;
	margin-inline-start: var(--body--inset--);
	margin-inline-end: var(--body--inset--);
	margin-block-start: var(--body--offset--);
	margin-block-end: var(--body--offset--);
}

markout-playground.primer hgroup h1,
markout-playground.primer hgroup h2,
markout-playground.primer hgroup h3,
markout-playground.primer hgroup h4,
markout-playground.primer hgroup h5,
markout-playground.primer hgroup h6 {
	margin: 0;
	padding-inline-start: var(--block--inset--);
	padding-inline-end: var(--block--inset--);
}

markout-playground.primer details[open] {
	padding-block-end: 1em;
}

markout-playground.primer hr {
	border-width: 1px;
}

markout-playground.primer section,
markout-playground.primer article {
	border: var(--fence--border--, 1px solid #9999);
}

markout-playground.primer iframe,
markout-playground.primer figure,
markout-playground.primer pre {
	margin-inline-start: var(--figure--inset--);
	margin-inline-end: var(--figure--inset--);

	/* margin: 1.5em 1rem; */
	max-width: -webkit-fill-available;
	max-width: -moz-available;
	max-width: fill-available;
}

markout-playground.primer iframe {
	/* width: 100%; */
	/* height: 100%; */
	/* min-height: max-content; */
	/* box-sizing: border-box; */
	/* padding: 1em; */
}

markout-playground.primer h1,
markout-playground.primer h2,
markout-playground.primer hgroup {
	text-align: center;
}

markout-playground.primer pre[data-markout-open-tag]::before {
	content: attr(data-markout-open-tag);
	content: attr(data-markout-fence) attr(data-markout-header);
	margin-block-start: -0.75em;
	margin-block-end: 0.25em;
}

markout-playground.primer pre[data-markout-close-tag]::after {
	content: attr(data-markout-close-tag);
	content: attr(data-markout-fence);
	margin-block-start: 0.25em;
	margin-block-end: -0.75em;
	justify-self: flex-end;
}

markout-playground.primer pre[data-markout-open-tag],
markout-playground.primer pre[data-markout-close-tag] {
	/* --markup-gutter: 1.25em; */
}

markout-playground.primer pre[line-numbers] .markup-line {
	border-inline-start-color: #9993;
	border-inline-start-width: 0.5pt;
}


markout-playground.primer pre[data-markout-open-tag]::before,
markout-playground.primer pre[data-markout-close-tag]::after {
	font-family: inherit !important;
	white-space: nowrap;
	display: block;
	/* margin-inline-start: -0.75em; */
	/* margin-inline-end: -0.75em; */
	padding: 0 0.5em;
	font-weight: 300;
	font-size: 90%;
	line-height: 125%;
	box-sizing: border-box;
	border: 0.5pt solid #9993;
	border-radius: 0.33em;
	color: #9999;
	/* padding: 0; */
	/* margin: 0; */
	text-indent: 0;
	position: relative;
	left: calc(var(--markup-gutter, 0) / 2 + 1px - 1em);
	/* left: 0; */
	/* margin-inline-start: calc(var(--markup-gutter, 0) + 1px -2.75em); */
	/* margin-inline-end: calc(var(--markup-gutter, 0) + 1px -2.75em); */
	/* margin-inline-end: -0.75rem; */
	/* text-indent: calc(-1 * var(--markup-soft-indent, 0.0001em) + 1px); */
}

@media print {
	markout-playground.primer pre[line-numbers] .markup-line {
		--markup-line-number-color: #9999;
		border-inline-start-color: #9993;
	}

	markout-playground.primer pre[data-markout-open-tag]::before,
	markout-playground.primer pre[data-markout-open-tag]::after {
		border-width: 0;
		border-radius: 0;
	}

	markout-playground.primer pre[data-markout-open-tag]::before {
		border-bottom-width: 1pt;
		padding-block-end: 0.25em;
		margin-block-end: 1em;
	}

	markout-playground.primer pre[data-markout-open-tag]::after {
		border-top-width: 1pt;
		padding-block-start: 0.25em;
		margin-block-start: 1em;
	}
}

@media screen {
	markout-playground.primer pre[line-numbers] .markup-line::before {
		font-weight: 100;
	}

	markout-playground.primer pre[line-numbers] .markup-line {
		--markup-line-number-color: #9999;
		border-inline-start-color: #9991;
	}

	markout-playground.primer pre[data-markout-open-tag]::before,
	markout-playground.primer pre[data-markout-close-tag]::after {
		color: #999c;
		background-color: #9991;
		/* border-color: #9993; */
		mix-blend-mode: difference;
	}

	markout-playground.primer pre[data-markout-open-tag]:active::before {
		content: attr(data-markout-open-tag);
	}

	markout-playground.primer pre[data-markout-close-tag][data-markout-fence]:active::after {
		content: attr(data-markout-close-tag);
	}

	markout-playground.primer pre[data-markout-fence]:not(:hover)::before,
	markout-playground.primer pre[data-markout-fence]:not(:hover)::after,
	markout-playground.primer pre[data-markout-open-tag]:not(:hover)::before,
	markout-playground.primer pre[data-markout-close-tag]:not(:hover)::after {
		opacity: 0.25;
		background-color: transparent;
	}
}
