/*//// Flattening ////*/

figure {
	contain: style;
	/* white-space: normal; */
}

figure :not(figure) > pre {
	margin: 0;
}

figure > *:first-child {
	margin-block-start: 0;
}

figure > *:last-child {
	margin-block-end: 0;
}

/*//// Columns ////*/

aside.columns,
figure.columns {
	columns: 20em;
}

/*//// Outlines ////*/

figure.ol ol,
figure.ol ol > li,
figure.ul ul,
figure.ul ul > li,
figure.all * {
	outline-style: solid;
	outline-color: #39c6;
	outline-offset: -1px;
	outline-width: var(--outline);
	opacity: var(--opacity);
}

figure {
	--outline: 0;
}

figure[class]:hover * {
	--opacity: 0.75;
	--outline: 0;
}

figure[class] *:hover * {
	/* outline-color: #39c6; */
	--opacity: 0.75;
	--outline: 0.5px;
}

figure[class] *:hover {
	outline-color: #39c;
	--opacity: 1;
	--outline: 1px;
}
