@import url('/fonts/iosevka.css');

:host,
body {
	font-family: sans-serif;
	font-family: var(--body-font, cursive);
}

:host(source-code),
:matches(.source-code, pre, code, tt, samp) {
	font-family: monospace;
	font-family: var(--source-code-font, cursive);
}

:root {
	--source-code-font: 'Iosevka Web', monospace;
	--body-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}
